*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.hero{
    height: 100vh;
    width: 300px;
    background-color: black;
    text-align: center;
    position: fixed;
    display: inline-block;
   
}

.pfp{
    height: 150px;
    width: 150px;
    border-radius: 70px;
    margin-top: 10%;
   
}

.hero h4{
    color: white;
    padding-top: 10px;
}

.icons a{
    font-size: 18px;
    display: inline-block;
    background: #212431;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

.icons a:hover{
    background-color: #149ddd;
}

.navigation{
    color: white;
    font-size: 20px;
    float: left;
    margin-left: 20px;
    margin-top: 30px;
}

.navigation a{
    display: flex;
    align-items: center;
    color: #a8a9b4;
    padding: 12px 15px;
    margin-bottom: 8px;
    transition: 0.3s;
    font-size: 15px;
    font-size: 20px;
   
}

.navtext{
    padding-left: 15px;
}

.nav-menu ul{
    list-style: none;
}

/* Footer */

.footer{
    margin-top: 630px;

}

.footer h4{
    color: white;
}
.footer p{
    color: white;
}

.info{
    padding-left: 300px;
}
.content{
    width: 167vh;
    height: 100vh;
    background: url('./assets/img/hero-bg.jpg') repeat fixed 100%;
    background-size: cover;
    float: right;
    
}

.content .heading{
    position: relative;

   top: 50%;

 transform: translateY(-50%);
 padding-left: 30%;
 font-size: 70px;

}
.whole{
    display: inline-block;
}

.heading h1{
   margin: 0 0 10px 0;
  font-size: 70px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}

.heading p{
    color: #fff;
    margin-bottom: 50px;
    font-size: 26px;
    font-family: "Poppins", sans-serif;
}

#about{
    margin-top: 3%;
    margin-left: 15%;


}
#about h1{
    font-weight: 700;
    font-size: 30px;
    color: #173b6c;
    padding-bottom: 30px;
}
.aboutpfp{
    height: 300px;
    width: 300px;
    float: left;
    margin-right: 30px;
    margin-top: 25px;
}

#about ul li{
    list-style: none;
    padding-bottom: 10px;
}

.typed{
    border-bottom: 3px solid #1589FF;
}

.moreinfo{
    padding-top: 25px;

}

.moreinfo h3{
    color: #173b6c;
}

.icofont-rounded-right{
    color: #1589FF;
}
#facts{
    margin-top: 6%;
    margin-left: 15%;
}
/* #facts .container{
    text-align: left;
} */
#facts .container .head{
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #173b6c;
}

/* .parent{
    margin: 5%;
    margin-left: 5%;
}

.achieve{
    display: inline-block;
    height: 150px;
    width: 300px;
    float: left;
}

.achieve i{
    font-size: 50px;
    color: #1589FF;
    float: left;
    height: 130px;
    margin-right: 15px;
    margin-top: 4px;
}

 .one{
    padding-top: 2px;
   
}

.one h1{
    font-weight: bolder;
} */

.parentachieve{
    margin-top: 5%;
}
.achieve{
    display: inline-block;
    height: 157px;
    width:265px;

}

.achieve i{
    font-size: 44px;
    float: left;
    height: 150px;
    margin-top: 15px;
    margin-right: 20px;
    color: #1589FF;
}

.achieve span{
    font-size: 48px;

}

.achieve{
    margin: 0 20px;
}

.achieve strong {
    font-weight: bolder;
}

.achieve .counter-up{
    font-weight: bolder;
}

#skills{
    margin-top: 3%;
    margin-left: 15%;
    height: 600px;
    background-color: #dce8f8;
    padding-top: 50px;
}
#skills .container{
    padding-top: 15px;


}
#skills h1{
    font-weight: 700;
    font-size: 30px;
    color: #173b6c;
    padding-bottom: 30px;
}

.progress{
    margin: 15px 0;
}

#resume{
    margin-top: 3%;
    margin-left: 15%;
}

.head{
    padding-bottom: 30px;
    color: #173b6c;
    font-weight: 700px;
    font-size: 30px;
}

.head_p{
    padding-bottom: 20px;
}

#resume .container h3{
    padding-bottom: 10px;
}

#contact-me{
    margin-top: 3%;
    margin-left: 15%;
}

/* #contact-me .head{
    padding-bottom: 40px;
    font-size: 30px;
    color: #173b6c;
} */

.mapouter{
    display: inline-block;
}

.information i{
    font-size: 20px;
    color: #149ddd;
    float: left;
    width: 44px;
    height: 44px;
    background: #dff3fc;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin-right: 15px;

}

.information h1{
    font-size: 20px;
    color: black;
}

.information p{
   padding-left: 60px;
   color: #3B3B3B;
}

.information{
    padding-bottom: 30px;
}

.col{
    /* border: solid black 1px;
     */
    
     /* padding: 25px 0 0 30px; */
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
    padding-left: 30px;
    padding-top: 30px;
    height: 10%;
    justify-content: center;
    

}

.text-center button{
    text-align: center;
    height: 50px;
    width: 200px;
    background-color: #149ddd;
    border: none;
    border-radius: 100px;
}

.col2{
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
    padding-left: 30px;
    padding-top: 30px;
    height: 500px;
    justify-content: center;
    height: 690px;
}


